

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #3D2100;
    text-decoration: none;
    padding: 35px;
}

body {
    font-size: 22px;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #7ee7e4;
    margin: 0;
    padding: 0;
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

#logo_link {
    padding-top: 5px;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

h2 {
    margin: 0;
}

header {
    background-color: #e6cc70;
}

nav a:hover {
    background-color: #f7b24c;
    color: #3D2100;
}

.book {
    background-color: #3D2100;
    color: #ecbb09;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: #1eaeaa;
    color: #ecbb09;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #1eaeaa;
    color: #cc7a00;
}

.join:hover {
    background-color: #7ee7e4;
    color: #cc7a00;
}

#background {
    background-color: #1eaeaa;
    margin-bottom: 75px;
}
.msg {
    background-color: #3D2100;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}

footer {
    background-color: #e6cc70;
    color: #3D2100;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    font-size: 2em;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    color: #3D2100;
    margin-top: 10px;
}

h4 {
    color: #cc7a00;
}

.msg h2 {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    color: #cc7a00;
}

.msg p {
    color: #1eaeaa;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #3D2100;
    text-decoration: none;
}

footer a:hover {
    color: #cc7a00;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;

}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #3D2100;
}

main section img {
    box-sizing: border-box;
}