@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap|Lato');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;

}

nav a {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #f851ad;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background-color: black;
    border: 5px solid white;
}

.logo {
    display:block;
    width: 60%;
    margin: 0 auto;
}


body {
    font-size: 22px;
    font-family: 'Lato', Arial, sans-serif;
    background-color: #a5a5a5;
    margin: 0px;
    padding: 0px;
}

.home {
    display: grid;
    grid-template-columns: repeat(10, 160px);
    grid-template-rows: repeat(12, 100px);
}
.passion-calm {
    grid-column: 1/6;
    grid-row: 1/6;
    padding-left: 50px;
    padding-top: 45px;
}

.passion-calm p {
    padding: 0px;
    margin: 10px;
    text-indent: 25px;
}

.passion-calm h4 {
    color: #f851ad;
    margin: 0px;
    padding-top: 15px;
}

.house-img {
    width: 700px;
    grid-column: 6/11;
    grid-row: 2/6;
    margin-left: 45px;
    margin-top: 45px;
    z-index: 1;
    border: 5px solid black;
}

.personal-box {
    background-color: black;
    padding: 35px;
    width: 800px;
    color: #f851ad;
    grid-column: 3/11;
    grid-row: 6/10;
    margin-top: 50px;
    padding-left: 125px;
    padding-top: 40px;
    padding-right: 125px;
    border: 5px solid white;
}

.personal-box p {
    margin: 10px;
    padding-left: 30px;
    text-indent: 25px;
}

.personal-box h4 {
    padding-top: 25px;
    padding-bottom: 15px;
    margin: 0px;
}

.supplies-img {
    width: 360px;
    grid-column: 1/4;
    grid-row: 7/13;
    margin-left: 40px;
    margin-top: 60px;
    z-index: 1;
    border: 5px solid black;
}

h4 {
    font-family: 'Marck Script', cursive;
    font-size: 34px;
    font-weight: 400;
}

footer {
    background-color: #f1bcd9;
    color: black;
    padding: 50px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: white;
}

nav a:hover {
    background-color: #f1bcd9;
    color: #f851ad;
}

.services {
    display: grid;
    grid-template-columns: repeat(10, 160px);
    grid-template-rows: repeat(12, 125px);
}

.info {
    grid-column: 1/6;
    grid-row: 1/4;
}

.updo {
    width: 400px;
    grid-column: 7/11;
    grid-row: 1/4;
    border: 5px solid black;
    border-radius: 60%;
}

.pricing {
    grid-column: 1/4;
    grid-row: 3/8;
    background-color:#f1bcd9;
    border: 5px solid black;
    margin-top: 50px; 
    margin-left: 75px;
    margin-bottom: 75px;
}

.pricing h4 {
    padding-left: 15px;
    padding-top: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pricing p {
    padding-left: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.straight {
    width: 240px;
    grid-column: 4/7;
    grid-row: 6/9;
}

.travel-box {
    background-color: #f851ad;
    border: 5px solid black;
    color:black;
    grid-column: 6/10;
    grid-row: 9/11;
    margin-right: 60px;
}

.travel-box h4 {
    padding-left: 30px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.travel-box p {
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

.travel {
    grid-column: 2/10;
    grid-row: 8/12;
    background-color: black;
    color: #f1bcd9;
    border: 5px solid white;
    padding-left: 50px;
    padding-right: 675px;
    padding-top: 50px;
}
  